table{
    border: 1px solid black;
    padding: 20px;
}
tr{
    border: 1px solid black;
}
th{
    border: 1px solid black;

}
td{
    border: 1px solid black;

}
form{
    padding: 20px;
    margin: 10px;
    border: 1px dotted;
    display: flex;
}
label{
    padding: 5px;
}
input{
     padding: 5px;
}
select{
    padding: 10px;
}
button{
    padding: 10px;
}